{% extends 'musico-master/index.html' %}
{% block title %}Payment Success{% endblock title %}
{% block body %}


   
 <!-- bradcam_area  -->
 <div class="bradcam_area breadcam_bg_2">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3>Thank You!</h3>
                    <p>Order Id: <b style="color:green;font-weight:bold;">{{order_id}}</b></p>
                    <a href="/" class="genric-btn danger align-center circle">Homepage</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--/ bradcam_area  -->


{% endblock body %}